{% extends 'layout.html' %}
{% block title %}Listagem de Clientes{% endblock %}
{% block content %}
  <h2>Listagem de Clientes</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Rg</th>
        <th>Cidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if dados %}
        {% for dado in dados %}
          <tr>
            <td>{{ dado['nome'] }}</td>
            <td>{{ dado['email'] }}</td>
            <td>{{ dado['telefone'] }}</td>
            <td>{{ dado['rg'] }}</td>
            <td>{{ dado['endereco']['cidade'] }}</td>
            <td>
              <a class="btn btn-warning" href="{{ endpoint }}form/{{ dado['id'] }}">Editar</a>
              <a class="btn btn-danger" href="{{ endpoint }}delete/{{ dado['id'] }}">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td></td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="{{ endpoint }}?page={{ page -1 if page > 0 else 0 }}&size={{ size }}#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li>
        <a href="{{ endpoint }}?page={{ page +1 if page <= pagination['totalPages'] else pagination['totalPages'] }}&size={{ size }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}