{% extends 'layout.html' %}
{% block title %}Cadastro de Registros{% endblock %}
{% block content %}
    <form class="form-horizontal" method="post">
      	<h2 class="form-signin-heading">Registro</h2>
      	{% for campo in form %}
          {% if campo.name != 'csrf_token' %}
        	<div class="form-group">
            {{ campo.label }}
            {{ campo(class_='form-control') }}
        	</div>

            {% if campo.errors %}
              <ul class=errors>
              {% for error in campo.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}

          {% else %}
            {{ campo }}
          {% endif %}
      	{% endfor %}
	  	<button type="submit" class="btn btn-lg btn-primary btn-block">Consultar</button>

    </form>
    <script type="text/javascript">
      $("#carro").selectSearch({
          findSearch:function(search, limit, offset){
              return $.ajax({
                url : "/carro/ajax",
                dataType : "json",
                data:'search='+search+'&limit='+limit+'&offset='+offset
              });
          },
          findById:function(id){
              return $.ajax({
                url : "/carro/ajax/"+id,
                dataType : "json"
              });
          },
          getDescription: function(data){
              return data.marca+'-'+data.modelo;
          },
          getValue: function(data){
              return data.id;
          },
          hideField:true
      });
      $("#cliente").selectSearch({
          findSearch:function(search, limit, offset){
              return $.ajax({
                url : "/cliente/ajax",
                dataType : "json",
                data:'search='+search+'&limit='+limit+'&offset='+offset
              });
          },
          findById:function(id){
              return $.ajax({
                url : "/cliente/ajax/"+id,
                dataType : "json"
              });
          },
          getDescription: function(data){
              return data.nome;
          },
          getValue: function(data){
              return data.id;
          },
          hideField:true
      });
    </script>
{% endblock %}