<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for alert_type, message in messages %}
            {% if alert_type in ['info', 'success', 'danger','warning'] %}
                <div class="alert alert-{{alert_type}} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>